<h1>Store Categories</h1> 
Please add categories to your store <%= link_to "adding new categorys", new_category_path,   { :class=>"btn btn-default" } %>
<p>
<table class="table table-condensed">
		<thead>
			<tr>
				<td><b>Title</b></td>
				<td><b>Description</b></td>
				<td><b>Modify</b></td>				
			</tr>
		</thead>
	<% @categories.each do |category| %>
		<tbody>
			<tr>				
				<td><%= category.title %></td>
				<td><%= category.description%></td>				
				<td><%= link_to "Edit", edit_category_path(category)%></td>			
			</tr>				
		</tbody>	
	<% end %>
	</table>
