<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<% @categories.each do |category| %>
								<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><%= link_to category.title, category_path(category) %></h4>
								</div>
							</div>
							<%end%>
						</div><!--/category-productsr-->					
						
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Shop with Us</h2>
						<% @variants.each do |variant| %>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">	
										<%= image_tag Image.where(product: [variant.product]).first.asset.url(:thumb)%>
										<h2><%= number_to_currency(variant.price)%></h2>
										<p><%= link_to variant.product.title, product_path(variant.product) %></p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>									
								</div>								
							</div>
						</div>	
						<% end %>
						
					</div><!--features_items-->
				</div>
			</div>
		</div>
	</section>